<section class="landing">
    <div class="landing_widget_left">
        <img src="../../assets/logo2.png" alt="" class="landing_widget_left_image">
        <p class="landing_widget_left_content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa neque sunt modi cupiditate, aliquam saepe eveniet fugiat. Reiciendis, laboriosam maiores? Nulla cupiditate neque qui deleniti aliquam, officia quod at et?
        </p>
    </div>

    <div class="landing_widget_left">
        <img src="../../assets/AR_Try_on-0519.jpg" alt="" class="landing_widget_left_image">
        <p class="landing_widget_left_content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa neque sunt modi cupiditate, aliquam saepe eveniet fugiat. Reiciendis, laboriosam maiores? Nulla cupiditate neque qui deleniti aliquam, officia quod at et?
        </p>
    </div>
</section>
