<section class="landing">
    <div class="landing_content">
        <h6 class="landing_content_title">
            ORGANIC 3D SCANNING SOLUTIONS
        </h6>
        <p class="landing_content_p">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium praesentium inventore perspiciatis
            facere aliquid aperiam! Rem, accusamus consectetur. Quasi ex ullam porro, voluptate soluta consequuntur non
            ipsum inventore nulla nostrum.
        </p>
    </div>
    <div class="landing_image">
        <img src="../../assets/face-analysis-0519.jpg" alt="">
    </div>
</section>


<div class="image"></div>


<div class="biovolume">
    <h6 class="biovolume_title">BIOVOLUME - Leading innovation in cancer technology</h6>
    <img src="../../assets/BioVolume-transbg1.png" alt="">
    <div class="biovolume_info_1">
            <i class="fab fa-airbnb biovolume_info_icon"></i>
            <p class="biovolume_info_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus magni nesciunt consectetur vitae.</p>
    </div>
</div>